body{
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #1F2937;
}

#intro-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 10%;
}
span{
    color: #4ADF86;
    font-family: "Karla",'Lucida Grande','Trebuchet MS' , 'Lucida Sans', Arial, sans-serif;
}
h1{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    line-height: 2rem;
}
h2{
    margin-top: -10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    padding-bottom: 20px;
}

#generate-btn{
    width: 400px;
    margin: 0 auto;
    
}
#btn{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #10B981;
    color: white;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
}

#empty-sqr{
    width: 200px;
    background-color: black;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    
}
#password-space{
    color: white;
    font-size: 15px;
    text-align: center;
}